*{
    margin: 0;
    padding: 0;
}
#navegacao{
    width: 100%;
    background-color: pink;
    display: inline-flex;
}
.menu{
    background-color: aliceblue;
    padding: 15pt;
    margin: 5pt;
    transition: 1s;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
}
.menu:hover{
    background-color: red;
    color: white;
    transition: 1s;
    border-radius: 5pt;
}
.menu a{}
